*{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container.mynav {
  padding-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #c5c1c1;
}

a {
  color: black;
  font-weight: 600;
  text-decoration: none;
}

.log {
  color: #0d6efd;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.d-flex{
  display: flex;
}

.log h2 {
  font-size: 30px;
}

.navbar{
  display: flex;
  justify-content: space-between;
}

li {
  margin: 0px 25px;
  list-style: none;
}
img.card-img-top:hover {
  transform: scale(1.05);
  transition: all 0.5s;
}
h2 {
  font-size: 22px;
}
p {
  font-size: 15px;
  color: #636464;
  font-family: math;
}
img.card-img-top {
  height: 200px;
  width: 100%;
}

.card {
  height: 600px;
  overflow: hidden;
}

.card-body h2 {
  background: #0d6efd;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.white{
  color: #fff !important;
}

footer.footer {
  background: black;
  padding: 20px 0px 0px;
  border-radius: 25px 25px 0px 0px;
}

ul.contact-list.list-unstyled li {
  margin: 0;
}

ul.list-unstyled li {
  margin: 5px 0px;
}

a.white {
  font-size: 14px;
}

a.btn.btn__primary.btn__primary-style2.btn__link {
  border: 1px solid grey;
}